.row>div>div {
  /* margin: 20px; */
  border-radius: 10px;
  /*background-color: grey;*/
}

/* Kontakt */
.contact-us {
  border-color: black;
  border-style: solid;
  border-width: thin;
  padding: 10px;
}



.checkbox {
  text-align: left;
}

span.Danke {
  color:transparent;
}

.checkbox:checked  .Danke{
	color:red;
}

/* Karte */


.map {
  /*
	background: green;
	
	border-color: black;	
  border-style: solid;
  border-width: thin;*/
} 

.map-container-google-1 {
  overflow: hidden;
  /*padding-bottom: 56.25%;*/
  padding: 10px;
  position: relative;
  height: 0;


}

.map-container-google-1 iframe {
  left: 0;
  top: 0;
  /*
  height: 90%;
  width: 90%; 
  */
  position: absolute;
}



/* box16 Team */
.TeamPic {

  border-radius: 100px;
  border-style: solid;
  border-width: thin;

}

.box16 {
  position: relative;
  display: inline-block;


  cursor: pointer;

}

.box16 .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 80%;
  left: 100%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.box16 .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.box16:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.box16:hover {
  /*opacity: 0.5;*/
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}