.carousel h2 {
  text-align: center;
  font-size: calc(22px + 1vw);
  margin: 0px 0 0px 0;
}

.jumbotron h2 {
  font-size: calc(22px + 1vw);
}

.myText h2 {
  font-size: calc(22px + 1vw);
}

#myCarousel {
  height: auto;
  width: auto;
  overflow: hidden;
}